{% extends 'base.html' %} {% block content%}
<center>
  {% for image in image_list %}
  <div class="card">
    <div class="card-header">
      <strong> {{image.name}}</strong>
    </div>
    <div class="card-body images">
      <ul>
        <li>
          <img
            src="{{image.image_path.url}}"
            class="img-responsive"
            alt="Image"
            id="images"
          />
        </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      <a href="{% url 'big_image' image.id %}" class="btn btn-outline-secondary btn-sm">Image Details</a>

      <a href="" class="btn btn-outline-danger btn-sm">Delete Image</a>
    </div>
  </div>
  <br />
  <br />
  {%endfor%}
</center>
{%endblock%}
