{% extends 'base.html' %} {% block content%}
<center>
  {% for image in image_list %}
  <!-- <div class="card">
    <div class="card-header">
      <strong> {{image.name}}</strong>
    </div>
    <div class="card-body images">
      <ul>
        <li>
          <img
            src="{{image.image_path.url}}"
            class="img-responsive"
            alt="Image"
            id="images"
          />
        </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      <a href="{% url 'big_image' image.id %}" class="btn btn-outline-secondary btn-sm">Image Details</a>

      <a href="" class="btn btn-outline-danger btn-sm">Delete Image</a>
   
    </div>
  </div>
  <br />
  <br /> -->


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image.image_path.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{image.name}}</h5>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{image.category}}</li>
    <li class="list-group-item">{{image.location}}</li>

  </ul>
  <div class="card-body">
       <a href="{% url 'big_image' image.id %}" class="btn btn-outline-secondary btn-sm">Image Details</a>

      <a href="" class="btn btn-outline-danger btn-sm">Delete Image</a>
   
  </div>
</div>

  {%endfor%}
</center>
{%endblock%}
