{% extends 'base.html' %} {% block content%}

<!-- modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<div class="home-images">
  {% for image in image_list %}

  <div class="home-image">
    <div class="card" style="width: 18rem">

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        <img
        class="card-img-top"
        src="{{image.image_path.url}}"
        alt="Card image cap"

      />
</button>
      <div class="card-body">
        <h5 class="card-title">{{image.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: {{image.category}}</li>
        <li class="list-group-item">Location: {{image.location}}</li>
      </ul>
      <div class="card-body">
        <a
          href="{% url 'big_image' image.id %}"
          class="btn btn-outline-secondary btn-sm"
        >
          View Image
        </a>

        <a
          href="{% url 'delete_image' image.id %}"
          class="btn btn-outline-danger btn-sm"
          >Delete image</a
        >
      </div>
    </div>
  </div>

  {%endfor%}
</div>

{%endblock%}
