<nav class="navbar navbar-expand-lg nav">
  <a class="navbar-brand" href="">My Portfolio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'category' '1' %}">Fashion</a>
          <a class="dropdown-item" href="{% url 'category' '2' %}">food</a>
          <a class="dropdown-item" href="{% url 'category' '3' %}">Nature</a>
          <a class="dropdown-item" href="{% url 'category' '4' %}">General</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Locations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'location' '1' %}">Nairobi</a>
          <a class="dropdown-item" href="{% url 'location' '2' %}">Mombasa</a>
          <a class="dropdown-item" href="{% url 'location' '3' %}">Kisumu</a>
          <a class="dropdown-item" href="{% url 'location' '4' %}">Nakuru</a>
        </div>
      </li>

    </ul>
    <form class="d-flex" method="POST" action="{% url 'search_category'%}">
      {%csrf_token%}
        <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Images"
        aria-label="Search" name="searched"
        
      />
      <button class="btn btn-outline-secondary" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
