{% extends 'base.html' %}
{% block content%}
<center>

{%if searched%}
<h1> You Searched For {{searched}}</h1>
<br>
{% for images in name %}

<div class="searched-images">

<!-- <p>{{images.name}}</p>
<p>{{images.category}}</p>
<p>{{images.location}}</p>
  <img
    src="{{images.image_path.url}}"
    class="img-responsive"
    alt="Image"
    id="images"
    align="center"
  /> -->

 

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{images.image_path.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{images.name}} <br> location:{{images.location}} <br> category:{{images.category}} </h5>
    <p class="card-text">{{images.description}}.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
{%endfor%}

{%else%}
<h1>
    you have no searches for {{searched}}
</h1>
{%endif%}

</center>
{%endblock%}
