@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HOME.HTML */
.images ul li img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.images ul li{
    list-style: none;
}
/* HOME.HTML ENDS */

 /* NAVBAR */
nav{
    width: 100%;
    height: 75px;
    background-color: #505d61;
    line-height:75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}

nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing:1.5px;
}

nav .logo p{
    float: left;
    color: aliceblue;
    text-transform: uppercase;
}

nav ul {
    float: right;


}
 nav ul li{
     display: inline-block;
     list-style: none;
 }

 nav ul li a {
     color: aliceblue;
     text-decoration: none;
     font-size:18px;
     text-transform: uppercase;
     padding:0 50px;

    }

nav ul li a:hover{
    color:#c0d96f;
    text-decoration: underline;
    /* background-color: #c0d96f; */
    
}

nav ul li .active{
    color: #c0d96f;
}

/* NAVBAR END*/

/* FOOTER */
footer{
    /* position: absolute;
    bottom:0;
    left:0;
    right:0; */

    background:#505d61;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;

}

.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight:400px;
    text-transform:capitalize;
    line-height: 3rem;

}

footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size:14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
color: aqua;
}
.footer-bottom{
    background:#505d61 ;
    width: 100vw;
    padding: 20px 0px;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200px;
}

/* FOOTER END */
